<div class="row mb-1 custom-border">
    <div class="col-md-1 border-right p-1 text-center">
      <img src="assets/images/burger4.jpeg" width="70px" height="70px">
    </div>

  <div class="col-md-3 border-right mb-2">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa fa-info"></i></div>
        <div class="col-md-8"> Id</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa fa-info"></i></div>
        <div class="col-md-8"> Nom </div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa fa-dollar"></i></div>
        <div class="col-md-8"> Price</div>
      </div>
    </div>
  </div>

  <div class="col-md-3 border-right mb-2">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa fa-info"></i></div>
        <div class="col-md-10"> Id</div>
      </div>

    </div>
  </div>

  <div class="col-md-3 ">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link "><i class="fa fa-edit"></i>&nbsp;Modifier</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link "><i class="fa fa-archive"></i>&nbsp;Archiver</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link "><i class="fa fa-list"></i>&nbsp;Details</button>
      </div>
    </div>
  </div>


</div>
