<div class="col">

  <div class="row m-3" >
    <div class="col-md-8 p-0">
      <h2>Commandes par clients</h2>
    </div>
  </div>


  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="row md-12" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="false" aria-controls="collapseOne">
            <app-details-cmd-client></app-details-cmd-client>
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <app-details-cmd></app-details-cmd>
          <app-details-cmd></app-details-cmd>
          <app-details-cmd></app-details-cmd>
          <app-details-cmd></app-details-cmd>
        </div>
      </div>
    </div>

  </div>

</div>
