<div class="col-md-12 ">
  <ng-container *ngIf="products.length>0" >

    <div class="row mb-1 custom-border"  *ngFor="let product of products">
      <div class="col-md-1 border-right p-1 text-center">
        <img src="{{product.image}}" width="70px" height="70px">
      </div>
      <div class="col-md-3 border-right mb-2">
        <div class="col">
          <div class="row">
            <div class="col-md-1"><i class="fa fa-info"></i></div>
            <div class="col-md-8"> {{product.id}}</div>
          </div>
          <div class="row">
            <div class="col-md-1"><i class="fa fa-info"></i></div>
            <div class="col-md-8"> {{product.nom}} </div>
          </div>
          <div class="row">
            <div class="col-md-1"><i class="fa fa-dollar"></i></div>
            <div class="col-md-8"> {{product.prix}} CFA </div>
          </div>
        </div>
      </div>

      <div class="col-md-2 border-right mb-2">
        <div class="col">
          <div class="row">
            <div class="col-md-1"><i class="fa fa-font-awesome"></i></div>
            <div class="col-md-10"> {{product.categorie}}</div>
          </div>

        </div>
      </div>
      <div class="row md-">
        <div class="col-md-2">
          <button type="button" class="btn btn-link" (click)="mofidierProduit()">
            <i class="fa fa-edit"></i>&nbsp;Modifier
          </button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-link ">
            <i class="fa fa-archive"></i>&nbsp;Archiver
          </button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-link ">
            <i class="fa fa-list"></i>&nbsp;Details
          </button>
        </div>
      </div>
    </div>

  </ng-container>
</div>
