<div class="row mb-1 mr-0 ">

  <div class="col-md-3 mb-1 mt-1">
    <div class="row text-center">
      <div class="col-md-11">Code article</div>
    </div>
  </div>

  <!-- details categorie-->
  <div class="col-md-3 custom-border-right mb-1 mt-1 ">
    <div class="row">
      <div class="col-md-12 text-center">
        Designation
      </div>
    </div>
  </div>

  <div class="col-md-3 custom-border-right mb-1 mt-1 ">
    <div class="row">
      <div class="col-md-12 text-center">
        Quantité
      </div>
    </div>
  </div>

  <div class="col-md-3 custom-border-right mb-1 mt-1 ">
    <div class="row">
      <div class="col-md-12 text-center">
        Prix Unitaire
      </div>
    </div>
  </div>


  <div class="col-md-2 mb-1 mt-1">
    <div class="row text-center">
      <h5>Prix Total</h5>
    </div>
  </div>
</div>
