<div class="col mb-3 p-3">
  <div class="col-md-12 ">
    <img src="assets/images/burger4.jpeg" class="rounded-circle" width="200px" height="200px">
  </div>
  <hr>
  <div class="col-md-12 p-3 ">
    <div class="col-md-12 mb-3">
      <h2><i class="fa fa-info-circle">&nbsp; Informations de l'articles</i></h2>
    </div>
    <div class="col-md-12">
      <form>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="id">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Nom de l'article">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <input type="int" class="form-control" placeholder="prix">
          </div>

          <div class="col">
            <select class="custom-select">
              <option selected>Choisir la categorie</option>
              <option value="1">Burger</option>
              <option value="2">Complement</option>
              <option value="3">Menu</option>
            </select>
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="col-12 text-end ">
    <button class="btn btn-danger ml-3">
      <i class="fa fa-ban"></i> &nbsp;Annuler
    </button>
    <button class="btn btn-success ">
      <i class="fa fa-save"></i> &nbsp;Enregistrer
    </button>
  </div>
</div>
